body{
    background-color: white;
}

.nav-bar{
    background-color: white !important;
    color: black !important;
}

.context{
    padding-top: 20%;
}

.landing-initial{
    display: flex;
    flex-direction: row;
    justify-content: center;
}